header h1 {
    color:green;
    background-color: rgb(210, 221, 59);
    text-align: center;
    
}

p.texto {
    color:black;
    text-align: center;
    

}

div h1 {
    color:rgb(26, 143, 104);
    text-align: center;
}

div ul {
    color:black;
}

#fondo {
    color: burlywood;
    background-color: chartreuse;   
}

table {
    
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: solid 1px #080808;
    padding: 5px;
}

th {
    background-color: chartreuse;
    color: white;
    text-align: left;
}

tr:hover {
    background-color: blanchedalmond;
    cursor: pointer;

}